include README.md
include LICENSE
include requirements.txt

include fortran/*.f90
include fortran/*.pyf
include fortran/ompgen.F90.template
include fortran/build_help/omp_sizes.f90
include fortran/build_help/sub_sizes.py
include build_scripts/*.sh
include build_scripts/*.bat
include setup.py

recursive-include doc/source *
recursive-exclude doc/build *
include doc/make.bat
include doc/Makefile

