name: Upload wrf-python to PyPI
on:
  release:
    types:
      - published
jobs:
  test-build:
    if: github.repository == 'NCAR/wrf-python'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install build twine
      - name: Build tarball and wheels
        run: |
          python -m build
      - name: Test the artifacts
        run: |
          python -m twine check dist/*
  publish:
    needs: test-build
    if: startsWith(github.ref, 'refs/tags')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install build twine
      - name: Build tarball and wheels
        run: |
          python -m build
      - name: Test the artifacts
        run: |
          python -m twine check dist/*
      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
        with:
          user: __token__
          password: ${{ secrets.PYPI_WRF_PYTHON }}
          skip_existing: true
          verbose: true
